# Dependency (Sangat Berat, jangan di-push!)
node_modules/

# Hasil Build (Dibuat otomatis saat deploy, jangan di-push)
.next/
out/
build/

# Log dan file sampah
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# File rahasia
.env*.local